:root {
    --american-river:#636e72;
    --soothing-breeze: #b2bec3;
    --city-colors: #dfe6e9;
 
  }
  
  html {
    background: var(--yankees-blue);
  }
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
  }
.header {
    display:flex;
    justify-content: center;
    color: black;
}

  .container {
    background-color:  #dfe6e9;
    height: 100vh;
    /* justify-content: space-between; */
  
  
  }



  .revratsen {
    display: inline-block;
    width: 20%;
    background-color: #636e72;
    margin-left: 30px;;
  }
  .webvisit {
      display:inline-flexbox;
      justify-content: center;
      background-color: #636e72;
      padding-top: 10%;
    
  }
  .rectangular {
    display:inline-flexbox;
    justify-content: center;
    background-color: #dfe6e9;
   
  }
  #reviews {
    height: 300px;
    top: -125px;
  }